body {
  padding-top: 70px;
}

.cat-img {
  width: 100px;
  height: 100px !important;
  object-fit: cover;
}

.col-md-4 .cat-img {
  width: 300px;
  height: 300px !important;
  object-fit: cover;
}

.display-small img {
  width: 100px;
}

.display-big img {
  width: 500px;
}

.display-list img {
  width: 50px;
}

.navbar-right a {
  cursor: pointer;
}

.display-small .mode-small > a,
.display-big .mode-big > a,
.display-list .mode-list > a {
  color: #000 !important;
}

.thumbnail {
  background-color: none;
  position: relative;
}

.thumbnail .caption {
  font-size: 14px;
}
