body {
  padding-top: 70px;
  margin: 0 10%;
}

.cat-img {
  width: 100px;
  height: 100px !important;
  object-fit: cover;
}

.col-md-4 .cat-img {
  width: 300px;
  height: 300px !important;
  object-fit: cover;
}

.col-md-12 .cat-img {
  width: 50px;
  height: 50px !important;
  object-fit: cover;
}

.display-small img {
  width: 100px;
}

.display-big img {
  width: 500px;
}

.display-list img {
  width: 50px;
}

.thumbnail {
  background-color: none;
  position: relative;
}

.thumbnail .caption {
  font-size: 14px;
}

.col-md-12 img {
  display: inline-block;
}

.col-md-12 .caption {
  display: inline-block;
}

.col-md-12 .caption p {
  display: inline-block;
}
