body {
  padding-top: 70px;
}

.navbar-right a {
  cursor: pointer;
}

.display-small .mode-small > a,
.display-big .mode-big > a,
.display-list .mode-list > a {
  color: #000 !important;
}

.col-big {
  height: 400px;
}

.col-small {
  height: 200px;
}


.cat-wrap {
  position: relative;
  padding: 0;
  vertical-align: middle;
}

.cat-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.cat-wrap .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
  padding: 10px;
}

.cat-wrap:hover .caption {
  opacity: 1;
}
